/* RESET DE BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial, sans-serif;
  box-sizing: border-box;
  color: #222;
  line-height: 1.6; 
}
body{
  padding-top: 115px;
}
html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* empêche le scroll horizontal */
  scroll-behavior: smooth;
  padding-top: 115px; /* pour compenser le header fixe */
}

img, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;       /* garde le ratio */
}

section, header, footer, nav, div {
  max-width: 100%;
}

/* ===== HEADER ===== */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 5%;
  background-color: #e4e5e6;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 113px;
  width: 100%;
}

/* Logo + texte */
.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.brand span {
  font-weight: 600;
  color: #000206;
}

/* Navigation */
.site-nav {
  display: flex;
  gap: 28px;
}

.site-nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.25s ease;
  color: #01020e;
}

.site-nav a:hover {
  color: #f2ff04; /* bleu moderne */
  background:linear-gradient(90deg, #0b0694 0%, #2575fc 100%);
  border-radius: 8px;
  padding: 8px 12px;
  box-shadow: 0 4px 15px rgba(1, 0, 6, 0.2);
}

/*============================== */
/* pied de  page */ 
/*============================== */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #010e2d; 
  justify-content: center;
  text-align: center;
  padding: 20px 10px;
  border-top: 1px solid #eee;
  margin-top: 50px;
  height: 300px;
}
footer p, footer address {
  color: #290ccd;
  margin: 5px 0;
  padding-top: 15px;
  font-size: 18px;
}
#reseau-social  {
  color: #ffffff;
  text-decoration: none;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  display: flex;
}
.reseau-social a {
  color: #ffffff;
  font-size: 2rem;
  transition: transform 0.3s ease, filter 0.3s ease, color 0.3s ease;
}
.reseau-social a .fab fa-facebook {
  color: #f3f4f7;
}